.banner-home {
  background: rgba(0, 0, 0, 0.6) url("../imghome.png");
}

.banner-about {
  background: rgba(0, 0, 0, 0.6) url("../imgabout.png");
}

.banner {
  background-size: cover;
  background-blend-mode: darken;
  color: white;
  text-shadow: 0px 4px 4px #00000040;
  height: 220px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  font-size: 24px;
  box-shadow: 0px 4px 4px #00000040;
  margin-bottom: 10px;
}
