.banner {
  box-sizing: border-box;
  padding: 20px;
  color: white;
  text-shadow: 0px 4px 4px #00000040;
  height: 220px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  font-size: 24px;
  box-shadow: 0px 4px 4px #00000040;
  margin-bottom: 20px;
}

@media all and (max-width: 600px) {
  .banner {
    text-align: left;
    justify-content: flex-start;
    height: 200px;
    font-size: 15px;
    h1 {
      width: 80%;
    }
  }
}
