@use "colors.scss" as colors;

.collapse {
  width: 75%;
  margin: 10px;
  overflow: hidden;
  transition: max-height 500ms;

  .title-box {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: colors.$primary-color;
    height: 40px;
    color: white;

    h2 {
      margin: 0px;
    }

    i {
      font-size: 30px;
      cursor: pointer;
      transition: rotate 500ms;
    }
    .active {
      rotate: -180deg;
    }
  }

  .content-box {
    position: relative;
    z-index: 1;
    transition: bottom 500ms;

    div {
      background-color: colors.$grey-color;
      padding: 10px;
      margin: 0px;
    }
  }
}

@media all and (max-width: 600px) {
  .collapse {
    width: 100%;
  }
}
